
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Quản lý nhân viên";
}

<h2>ManagerEmployee</h2>


<script>
    $(document).ready(function () {
        $("#quan-ly-nhan-vien").addClass("active");
    });
</script>